.ftab{
    -fx-background-color: #fff;
    -fx-background-radius:8px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 6, 0, 0, 0);
    -fx-border-width: 1px;
}
.barregauche{
    -fx-background-color: #37383C;
}

.label-info {
    -fx-background-color: white;
    -fx-border-color: #ccc; /* couleur de bordure typique d’un TextField */
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-border-width: 1px;
    -fx-padding: 4px 6px;
    -fx-font-size: 13px;
    -fx-text-fill: #333;
}


.body {
    -fx-background-color: #A4C2E0;
}

/* Navigation Section */
.menu_container {
    -fx-padding: 10 10 10 20;
    -fx-spacing: 20;
    -fx-background-color: #37383C;
}

.menu_container Button {
    -fx-pref-width: 241;
    -fx-pref-height: 40;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #37383C;
    -fx-font-size: 1.1em;
    -fx-alignment: center_left;
}

.body1 {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 6, 0, 0, 0);
    -fx-background-color: #FFFFFF;
}

.menu_container Button:hover {
    -fx-cursor: hand;
    cursor: pointer;
}

.menu_container Button FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}

.alt_menu_btn {
    -fx-pref-width: 241; /* Ajusté pour correspondre à .menu_container Button */
    -fx-pref-height: 40;
    -fx-background-color: #1A1F37;
    -fx-font-size: 1.1em;
    -fx-alignment: center_left;
}

.alt_menu_btn FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}

.card {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 6, 0, 0, 0);
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 8;
}

.card_title {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 6, 0, 0, 0);
    -fx-background-color: #EBF2FA;
    -fx-background-radius: 10px 10px 0px 0px;
}

.card_corps {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 3, 0, 0, 0);
    -fx-background-radius: 0px 0px 10px 10px;
    -fx-background-color: #FFFFFF;
}

.btn1{
    -fx-background-color: #A4C2E0;
    -fx-background-radius: 50;
    -fx-cursor: hand;
    cursor: pointer;
}
.retour{
    -fx-background-color: #A4C2E0;
    -fx-background-radius: 5;
}
.retour:hover{
    -fx-background-color: #1A1F37;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    cursor: pointer;
}

.btnVoirDetails{
    -fx-background-color: #A4C2E0;
    -fx-background-radius: 5;
}

.table {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #A4C2E0;
    -fx-border-width: 1px;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 6, 0, 0, 0);
    -fx-table-cell-border-color: #A4C2E0; /* ou une autre couleur subtile de ta charte */

}

.table .column-header {
    -fx-background-color: #A4C2E0;
    
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

.table .column-header-background {
    -fx-background-color: transparent;
}

.table .table-row-cell {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 11px;
    -fx-text-fill: #37383C;
}

.table .table-row-cell:odd {
    -fx-background-color: #EBF2FA;
}

.table .table-row-cell:selected {
    -fx-background-color: #A4C2E0;
    -fx-text-fill: #1A1F37;
}

.table .table-cell {
    -fx-padding: 4px 4px;
    -fx-text-fill: #37383C;
}

.table .filler {
    -fx-background-color: transparent;
}






